<% title "#{@subcategory.name}" %>
<div class="container">
  <div class="jumbotron">
    <h2><%= @subcategory.name %></h2>
    <p>
    <%= @subcategory.description %>
    </p>
  </div>
  <hr>
  <div class="container" style="text-align:left;padding:10px;">

  <% @subcategory.articles.each do |article| %>
  <div class="col-sm-4" style="padding:10px;" >
    <h4>
      <strong style="text-align:center;">
        <%= link_to article.title, article %>
      </strong>
    </h4>
    <p>
      <%= article.excerpt(54) %>...
      <%= link_to "(Read More)", article %>
    </p>
    <hr>
  </div>
  <% end %>

  </div>
</div>
