<% title 'Articles' %>

<%#
    The following lines check to see if there is a search query.  If there is
    than search results will be displayed.  If there isn't a query than a list
    of categories will be shown instead
#%>
<% if params[:q].present? || params[:cat_id].present? %>
  <div class='container', style="margin-bottom:150px;">
  <h1 class='text-center'>
    Search Results
  </h1>
  <% @articles.each do |article| %>
    <div style='padding: 20px; margin-left: 10%'>
      <h3>
        <%= link_to article.title, article %>
      </h3>
      <h5>
        <% @text = article.blocks.map{|b| b.specific.body if b.specific.respond_to?(:body)} %>
        <% unless @text.blank? %>
          <%= @text.first.first(255) %>
        <% end %>
        <%= link_to '(Read More)', article %>
      </h5>
      <p>
        Part of:
        <i>
          <% article.subcategories.each do |scat| %>
            <%= link_to scat.name, scat %>
          <% end %>
        </i>
      </p>
    </div>
  <% end %>
  </div>
<% else %>
  <div class='container', style="margin-bottom:150px;">
    <h1 class='text-center'>
      Listing Articles
    </h1>
    <hr>
    <% @categories.each do |category| %>
      <div class='col-md-2'>
        <div>
          <h4>
            <strong>
              <%= link_to category.name, category, :style => "color:#551A8B;" %>
            </strong>
          </h4>
          <hr>
          <% category.subcategories.each do |subcategory| %>
            <h5>
              <strong>
                <%= link_to subcategory.name, subcategory, :style => "color:#A25F08;font-size:1.2em;" %>
              </strong>
            </h5>
            <% subcategory.articles.each do |article| %>
              <h6>
		<strong>
                <%= link_to article.title, article, :style => "font-size:1.2em;" %>
		</strong>              
	      </h6>
            <% end %>
            <hr>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
