
<div class="center-block" style="width:<%= block.width %>px;max-width:100%;">
<div class="intrinsic-container">
<iframe class='diagram center-block' width="<%= block.width %>" height="<%= block.height %>" style="max-width:97.3%;" frameborder="0" src-a="<%= '/article_diagram_blocks/' + block.id.to_s %>" sandbox='allow-scripts'></iframe>
</div>
</div>
<p align=center><%= block.caption %></p>
